<div class="container">

<div class="row"><!-- card for database info -->
  {{#each history}}

    <div class="col-md-4 box">
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <a href={{this.link}} class="card-link">Click here to read!</a>
        </div>
      </div>

    </div>
    {{/each}}
</div><!-- end of card -->

<br>
<hr>

  <!-- form -->
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Add a link to contribute to our community!</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Title</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="example-description">Category</label>
                <select class="form-control" id="category">
                  <option>Science</option>
                  <option>Mathematics</option>
                  <option>Art</option>
                  <option>Reading</option>
                  <option>History</option>
                  <option>Break Time!</option>
                </select>
              </div>
          
          <div class="form-group">
            <label for="example-description">Link</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Link!"></textarea>
          </div>
          <button id="submit" class="btn btn-warning float-right">Submit</button>
        </form>
        <br>
        <br>
      </div>
      </div>
    </div>
  
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>



