<div class="container">

<div class="row"><!-- card for database info -->
  <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">

     {{#each math}}
          <h5 class="card-title">{{this.title}}</h5>
          <a href="example/" class="card-link">{{this.link}}</a>
      {{/each}}

        </div>
      </div>

  </div>
</div><!-- end of card -->

<br>
<hr>

  <!-- form -->
    <div class="row">
      <div class="col-8 offset-2">
        <h1>Add a link to contribute to our community!</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" aria-describedby="title" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="catrgory">Category</label>
                <select class="form-control" id="category">
                  <option>Science</option>
                  <option>Mathematics</option>
                  <option>Art</option>
                  <option>Reading</option>
                  <option>History</option>
                  <option>Break Time!</option>
                </select>
              </div>
          
          <div class="form-group">
            <label for="link">Link</label>
            <textarea class="form-control" id="link" aria-describedby="link" placeholder="Enter Link!"></textarea>
          </div>
          <button id="submit" class="btn btn-warning float-right">Submit</button>
        </form>
        <br>
        <br>
      </div>
      </div>
    </div>
  
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/science.js"></script>



