<div class="container">

<div class="card card-body text-white"><!-- photo-->
  <img src="https://c4.wallpaperflare.com/wallpaper/839/50/541/library-cartoon-books-candles-wallpaper-preview.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title factTitle">READING FACT!</h5>
    <p class="card-text fact">When children have a home library, as few as 20 books of their own at home (think: one bookshelf full), 
      they achieve three more years of schooling than children who don’t have any books at home.</p>
  </div>
</div><!-- end of photo-->
<br><br>

<div class="row"><!-- card for database info -->
  {{#each reading}}

    <div class="col-md-4 box">
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <a href={{this.link}} class="card-link">Click here to read!</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div>
</div><!-- end of card -->

<br>
<hr>

  <!-- form -->
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class="card-title">Add a link to contribute to our community!</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" aria-describedby="example-text" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
                <select class="form-control" id="category">
                  <option>Science</option>
                  <option>Mathematics</option>
                  <option>Art</option>
                  <option>Reading</option>
                  <option>History</option>
                  <option>Break Time!</option>
                </select>
              </div>
          
          <div class="form-group">
            <label for="link">Link</label>
            <textarea class="form-control" id="link" aria-describedby="link" placeholder="Enter Link!"></textarea>
          </div>
          <button id="submit" class="btn btn-warning float-right">Submit</button>
        </form>
        <br>
        <br>
      </div>
      </div>
    </div>
  
</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/science.js"></script>



