<div class="container">
  
<div class="card card-body text-white"><!-- photo-->
  <img src="https://www.freepptbackgrounds.net/wp-content/uploads/2018/12/Chemical-Bond-Powerpoint-Slides.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title factTitle">SCIENCE FACT!</h5>
    <p class="card-text fact">Fleas can jump around 130times their own height. So if a flea were a person six feet high,
       it can jump 780 feet high just like that. No superpowers needed!</p>
  </div>
</div><!-- end of photo-->
<br><br>

  <div class="row">
    <!-- card for database info -->
    {{#each science}}

    <div class="col-md-4 box">
      
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <a href={{this.link}} class="card-link">Click here to read!</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div><!-- end of card -->



  <br>
  <hr>

  <!-- form -->
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="card-title">Add a link to contribute to our community!</h1>
      <form class="clearfix mb-4">

        <form id="ajax-science" method="post">

          <div class="field">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" aria-describedby="example-text"
              placeholder="Enter Title">
          </div>
          <div class="field">
            <label for="category">Category</label>
            <select class="form-control" id="category">
              <option>Science</option>
              <option>Mathematics</option>
              <option>Art</option>
              <option>Reading</option>
              <option>History</option>
              <option>Break Time!</option>
            </select>
          </div>

          <div class="field">
            <label for="link">Link</label>
            <textarea class="form-control" id="link" aria-describedby="example-description"
              placeholder="Enter Link!"></textarea>
          </div>


          <div class="field">
            <button id="submit" class="btn btn-warning float-right">Submit</button>
          </div>

        </form>
        <br>
        <br>
    </div>
  </div>
</div>

</div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/science.js"></script>
<script src="../public/js/index.js"></script>